/* -------------------body---------------------- */

#mainMenu{
    display: flex;
    background-color: rgb(252, 252, 142);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#alphaBody{
    display: flex;
    /* background-image:url('../assets/alphas 2.jpg') ; */
    background-position: center;
    /* height: 700px; */
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(252, 142, 149, 0.429);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------buttons---------------- */
#categoryBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.categ{
    /* margin: 20px; */
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px lightblue solid;
    background-color: lightgoldenrodyellow;
}
a{
    color: black;
    text-decoration: none;
}
.categ:hover{
    background-color: aquamarine;
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 2px 5px 5px ; 
}
.options-btn{
    
}

#alphaHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}
#answers{
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 50px;
    border-radius: 7px;
    margin-top: 100px;
}
.start:hover{
    background-color: aquamarine;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 2px 5px 5px ;
}